main {
    padding: 20px 0 50px;
}

#formulario p,
#formularioContacto {
    background-color: #D1B77D;
}

#formulario p:nth-child(1){
    padding-top: 10px;
    border-radius: 20px;
}

#formularioContacto{
    padding-bottom: 10px;
    width: 70%;
    margin: auto;
}

#formularioContacto label{
    text-align: left;
    display: block;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #743309;
    
}

#formularioContacto input, #formularioContacto textarea{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #D1B77D;
    border: 1px solid #743309;
}

#formularioContacto textarea {
  min-height: 100px;
  resize: vertical;
}

#formularioContacto div{
    width: 70%;
    margin: auto;
}

#formularioContacto button{
    width: 60%;
    height: 30px;
    margin: 15px 0;
    border-radius: 5px;
    background-color: #743309;
    color: white;
    font-family: "Playfair Display", sans-serif;
}

#separador{
    width: 200px;
    margin-top: 20px;
}

#formulario{
    background-color: #D1B77D;
    width: 70%;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 20px;
}

::placeholder{
    color: white;
}

@media (max-width: 780px) {
    #formulario {
        width: 90%;
    }
    #formularioContacto {
        width: 100%;
    }
    #formularioContacto div,
    #formularioContacto button {
        width: 90%;
    }
}

input:invalid,
textarea:invalid,
select:invalid {
  border-color: #c00;
  outline-color: #c00;
}

input:focus:invalid {
  box-shadow: 0 0 0 2px rgba(200, 0, 0, 0.25);
}