h1{
    width: 100%;
    background-color: white;
    font-family: Impact, Charcoal, sans-serif ;
    color: #698593;
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 40px 0;
}
body{
    background-color: #273238;
}
p{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 14px;
    color: #ABAFA7;
    text-align: justify;
}
h2{
    font-family: Arial, Gadget, sans-serif;
    font-style: italic;
    font-weight: 900;
    margin-top: 50px;
    font-size: 20px;
}
h2 > span{
    font-size: 27px;
}

div > img{
    display: block;
    margin: 20px 0 20px 40px;
    width: 440px;
}

#celulares > img{
    border:  4px solid #95B3BC; 
}

#aspiradoras > img{
    border: 4px solid #E6CBBF;   
}

#consolas > img{
    border: 4px solid #BCBDBF;
}

#hometheaters > img{
    border: 4px solid #8A909B;
}

#televisores > img{
    border: 4px solid #AFADA2;
}


#aspiradoras > h2{
    color: #E6CBBF;
}

#celulares > h2{
    color: #95B3BC;
}

#consolas > h2{
    color: #BCBDBF;
}

#hometheaters > h2{
    color: #8A909B;
}

#televisores > h2{
    color: #AFADA2;
}